html{height: 100%;width: 100%;background-color: rgb(255, 255, 255);}


h1{ color: rgb(0, 0, 0);   height:52px;
    width:500px;
    border:10px solid hsl(0, 0%, 96%); position: absolute;
    top: 10%;
    font: bold large serif;
    left: 50%;bottom: 55%;
    transform: translate(-50%, -50%);text-align: center;text-transform: uppercase;
  } 
  #brief{top: 10%; left:40%;position: absolute;width: 400px;color: rgb(0, 0, 0);font-size: 15 px;text-align: center;}
  a:hover{text-decoration: underline dotted;border-color: rgb(255, 255, 255);}
  a{font-size: 50px;}

body{justify-content: center;}
/*h1:hover{text-decoration: underline;*/